body {
  background-color: black;
}
.container {
  width: 360px;
  background-color: #222;
  margin-inline: auto;
  margin-block-start: 2rem;
  color: greenyellow;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin-block-start: 1rem;
  width: 90%;
  height: 200px;
  background-color: greenyellow;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 1rem;
}
button {
  font-family: inherit;
  font-size: 2.2rem;
  padding: 0.5rem 2.2rem;
  font-weight: 900;
  background-color: greenyellow;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
